<div class="rental-card card">
  <img src="{{imageUrl}}" alt="{{headline}}">
  <div class="card-body">
    <h5 class="card-title">{{headline}}</h5>
    <p class="card-text">{{numBedrooms}} bedroom(s) · {{numBathrooms}} bathroom(s) · Sleeps {{numSleeps}}</p>
    <p class="card-price">${{pricePerNight}}/night</p>
    <a href="#" class="btn btn-primary">Book Now</a>
  </div>
</div>
<br><br>
